# Core Django
asgiref==3.11.1
Django==5.2.13
sqlparse==0.5.5

# Database
dj-database-url==2.3.0
psycopg2-binary==2.9.11

# Cache & Celery
django-redis==5.4.0
celery==5.4.0
redis==5.2.1
django-celery-beat>=2.8.0

# API & Auth
djangorestframework==3.16.1
django-cors-headers==4.9.0

# Frontend
django-htmx==1.27.0

# Static files & Media
whitenoise==6.12.0
pillow==12.2.0

# Env & Config
python-dotenv==1.2.2

# Server
gunicorn==25.3.0

# Security — Argon2 password hasher
argon2-cffi==23.1.0

# Monitoring
sentry-sdk[django]==2.28.0

# Dev tools
django-debug-toolbar==5.2.0

# Utilities
certifi==2026.2.25
charset-normalizer==3.4.7
idna==3.11
packaging==26.1
requests==2.33.1
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
